.button {
  display: block;
  width: 234px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #ffffff;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background-color: #0d648a;
}

.button:active {
  color: #7c7c7c;
}

.button--header {
  margin-left: auto;
}

@media (max-width: 1023px) {
  .button--header {
    width: 183px;
  }
}

@media (max-width: 767px) {
  .button--header {
    width: 100%;
  }
}
