.footer {
  width: auto;
  min-height: 110px;
  padding-top: 45px;
  box-sizing: border-box;
  background-color: #000000;
}

.footer__wrapper {
  display: flex;
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer__logo {
  margin-right: 30px;
}

.footer__nav {
  width: 100%;
  max-width: 431px;
  padding-left: 22px;
  margin: 0 auto;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-right: 40px;
    margin-bottom: 10px;

    &:nth-child(5n+5) {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      transition: 0.3s;
      opacity: 0.5;
    }
  }
}

.footer__social {
  display: flex;
  width: 110px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  list-style: none;

  a:hover {
    transition: 0.3s;
    opacity: 0.5;
  }
}

.footer__social-inst svg,
.footer__social-fb svg {
  position: relative;
  top: -2px;
}

@media (max-width: 1023px) {
  .footer {
    width: auto;
    min-height: 114px;
    padding-top: 46px;
  }

  .footer__wrapper {
    display: flex;
    max-width: 100%;
    padding: 0 45px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .footer__logo {
    margin-right: 30px;
  }

  .footer__nav {
    width: 100%;
    max-width: 391px;
    padding-left: 21px;
    margin: 0 auto;
  }

  .footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-right: 30px;
      margin-bottom: 10px;

      &:nth-child(5n+5) {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .footer__social {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style: none;
  }

  .footer__social-inst svg,
  .footer__social-fb svg {
    position: relative;
    top: -1px;
  }
}

@media (max-width: 767px) {
  .footer {
    width: auto;
    min-height: 260px;
    padding: 0 15px;
    padding-top: 45px;
  }

  .footer__wrapper {
    display: block;
    position: relative;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
  }

  .footer__logo {
    position: absolute;
    top: 5px;
    left: 0;
    margin-right: 0;
  }

  .footer__nav {
    width: 100%;
    max-width: none;
    min-height: 120px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer__nav-list {
    display: block;
    min-height: 120px;
    column-width: 100px;
    column-count: 2;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      width: 90px;
      margin-right: 0;
      margin-bottom: 20px;

      &:first-child {
        padding-top: 40px;
      }
    }

    a {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .footer__social {
    display: flex;
    width: 143px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 0;
    list-style: none;
  }

  .footer__social-vk svg {
    width: 32px;
    height: 19px;
  }

  .footer__social-inst svg {
    width: 27px;
    height: 27px;
  }

  .footer__social-fb svg {
    width: 14px;
    height: 27px;
  }

  .footer__social-inst svg,
  .footer__social-fb svg {
    position: relative;
    top: -2px;
  }
}
