.header {
  width: auto;
  background-image: url("../img/desktop-bg@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ed0233;
}

.header__wrapper {
  max-width: 1220px;
  min-height: 658px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0 30px;
  padding-top: 30px;
  box-sizing: border-box;
  background-image: url("../img/desktop-headerimage@1x.jpg");
  background-position: calc(50% + 130px);
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header__wrapper {
      background-image: url("../img/desktop-headerimage@2x.jpg");
      background-size: 500px auto;
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__phone {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    transition: 0.3s;
    opacity: 0.5;
  }
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__name {
  position: relative;
  width: 376px;
  min-height: 390px;
  margin-top: 115px;
  margin-left: 20px;
  text-align: right;

  span {
    display: block;
    margin-bottom: 12px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .header__name-list {
    position: absolute;
    left: 0;
    top: 185px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}

.header__button {
  margin-bottom: 30px;
}

.header__social {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  list-style: none;

  li {
    margin-top: 13px;
  }

  a {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      transition: 0.3s;
      opacity: 0.5;
    }
  }
}

@media (max-width: 1023px) {
  .header__wrapper {
    max-width: 1023px;
    min-height: 554px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 45px;
    padding-top: 40px;
    box-sizing: border-box;
    background-image: url("../img/tablet-headerimage@1x.jpg");
    background-position: calc(50% + 178px);
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .header__wrapper {
        background-image: url("../img/tablet-headerimage@2x.jpg");
        background-size: 342px auto;
      }
    }
  }

  .header__phone {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
  }

  .header__middle {
    display: flex;
    justify-content: space-between;
  }

  .header__name {
    position: relative;
    width: 324px;
    min-height: 309px;
    margin-top: 73px;
    margin-left: 0;
    text-align: right;

    span {
      display: block;
      margin-bottom: 5px;
      font-family: "Bebas Neue", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 0.03em;
    }

    h1 {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
      font-family: "Bebas Neue", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 86px;
      line-height: 86px;
      letter-spacing: 0.03em;
      color: #ffffff;
    }

    .header__name-list {
      position: absolute;
      left: 0;
      top: 130px;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .header__button {
    margin-bottom: 30px;
  }

  .header__social {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    max-width: 767px;
    min-height: 491px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    padding-top: 20px;
    box-sizing: border-box;
    background-image: none;
  }

  .header__phone {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
  }

  .header__name {
    position: relative;
    width: 291px;
    min-height: 296px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;

    span {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.03em;
    }

    h1 {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 43px;
      font-family: "Bebas Neue", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 78px;
      line-height: 78px;
      letter-spacing: 0.03em;
      color: #ffffff;
    }

    .header__name-list {
      position: absolute;
      left: 0;
      top: 120px;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .header__button {
    margin-bottom: 30px;
  }

  .header__social {
    display: none;
  }
}
