.logo:hover {
  transition: 0.3s;
  opacity: 0.5;
}


@media (max-width: 1023px) {
  .logo--footer svg {
    width: 82px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  .logo svg {
    width: 68px;
    height: 17px;
  }

  .logo--footer svg {
    width: 68px;
    height: 17px;
  }
}
