.main {
  background-color: #ffffff;
  overflow: hidden;
}

.main__bottom-wrapper {
  display: flex;
  justify-content: center;
  width: auto;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #102654 0%, #102654 50%, #ffffff 50%, #ffffff 100%);
  border-top: 1px solid #74819c;
}

@media (max-width: 1023px) {
  .main__bottom-wrapper {
    flex-direction: column;
    border-top: none;
  }
}
